body {
    position: relative;
    text-align: center;
}

ul {
    margin: 30px auto;
}

section {
    margin:60px auto;
}

li {
    font-family: 'Century Gothic';
    font-size: 15px;
    display: inline-block;
    border: 1px solid rgb(33, 113, 162);
    width: 100px;
}

li:hover {
    background-color: rgb(23, 80, 116);
}

h1 {
    font-family: 'Century Gothic';
    font-size: 35px;
    margin: 0 auto;
    letter-spacing: 0.2em;
}

.banner-color {
    background-color: hsl(180, 50%, 46%);
}

h2{
    font-family: 'Pangolin';
    margin: 0 auto;
}

h3 {
    font-family: 'Lato';
}

